  <section class="jumbotron text-center">
      <div class="container">
          <h1 class="jumbotron-heading"><%= @shop.name %></h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
      </div>
  </section>

  <div class="card border-light">
      <h4 class="card-header">店舗情報</h4>
      <div class="container shop_table">
          <table>
              <tr>
                  <th>店舗名</th>
                  <td><%= @shop.name %></td>
              </tr>
              <tr>
                  <th>住所</th>
                  <td><%= @shop.address %></td>
              </tr>
              <tr>
                  <th>メールアドレス</th>
                  <td><%= @shop.email %></td>
              </tr>
              <tr>
                  <th>電話番号</th>
                  <td><%= @shop.phone_number %></td>
              </tr>
              <tr>
                  <th>営業時間</th>
                  <td><%= @shop.opening_hours %></td>
              </tr>
          </table>
      </div>
  </div>

  <div class="album py-5">
      <div class="container">
          <div class="card border-light mb-3">
              <div class="card-header">
                  <h5><%= @shop.name %>の商品一覧<h5>
              </div>
              <div class="card-body">
                  <div class="row">
                      <%= render partial: 'products/productIndex', locals: { products: @products } %>
                  </div>
              </div>
              <%= paginate @products %>
          </div>
      </div>
  </div>