  <div class="row">
  <div class="col-md-3 py-5">
  <div class="card" style="width: 15rem;">
    <div class="card-header">
    カテゴリー
  </div>
  <ul class="list-group list-group-flush">
    <% @tags.each do |tag| %>
    <li class="list-group-item">
      <%= link_to tag, products_path(tag_name: tag.name) %>
    </li>
   <% end %>
  </ul> 
</div>
  </div>
  
   <div class="col-md-9">
  <div class="album py-5">
      <div class="row">
              <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style="white-space: nowrap !important;">
          <div class="product-img">
             <% if product.image? %>
             <%= image_tag product.image.url, :width => '100%', :height => '225', class: 'index-img' %>
             <% else %>
             <%= image_tag "/assets/img2.jpeg", :width => '100%', :height => '225', class: 'index-img' %>
             <% end %>
             <div class="like-btn" id="like-btn-<%= product.id %>">
                <%= render 'likes/like', product: product %>
              </div>
          </div>
            <div class="card-body">
             <h5 class="card-title"><%= product.name %></h5>
            <div class="row">
             <div class="col-md-7">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= product.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
             </div>
             <div class="col-md-5">
              <div class="ml-3 pt-2">
               <%= product.reviews.count %>件
              </div>
              </div>
</div>
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mt-3">¥<%= product.price %>(税込み)</h5>
              </div>
              <div class="text-right">
              <%= link_to "詳細", product,class: 'card-link ' %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
  <%= paginate @products %>
  </div>
  </div>










