<div class="mb-4 mt-md-5" style="width: 100%;">
  <div class="row">
    <div class="col-md-6">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
      <div class="row">
       <div class="col-md-10">
        <h2 class="card-title"><%= @product.name %></h2>
        </div>
        <div class="col-md-2">
         <div class="like-btn-show mr-4" id="like-btn-<%= @product.id %>">
                <%= render 'likes/like', product: @product %>
         </div>
        </div>

</div>
        <hr>
        <p class="card-text"><%= @product.description %></p>
        <hr>
        <h2 class="card-title">¥<%= @product.price %></h2>

<div class="col-12 clearfix">
<div class="float-right">
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">個数</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>1</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input" id="customControlInline">
  </div>
  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
</div>
</div>

      </div>
    </div>
  </div>
</div>






<section class="section mt-6">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card card-nowrap mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @product.name %>
            </p>
             <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @product.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @product.avg_score %>点（<%= @product.reviews.count %>件のレビュー）
              </div>
            </div>
          </header>
          <div class="card-content">
<% @reviews.each do |review| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
        <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= review.review_rate_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
        </h5>
        <div class="row no-gutters">
        <div class="col-md-2">
        <p class="card-text"><%= review.user.last_name %></p>
        </div>
        <div class="col-md-10">
        <p class="card-text"><%= review.comment %></p>
        </div>
        </div>
      </div>
    </div>
  <% end %>

          </div>
        </div>
        <%= render 'reviews/form', review: @review, product: @product %>
      </div>
    </div>
</section>








